*.pyc
*.pyo
*~
.\#*
\#*\#
.DS_Store
*.so
*.pyc
*.pyo
*~
*.o
*.c
*.h
PKG-INFO
MANIFEST
temp/
dist/
docs/build/
build/
.idea/
.nfs*
__pycache__/
*_360.rsm
*.obj
/demos/*.txt
*gif
*.npy
sftp-config.json
.vscode
cherab_phix.egg-info/
/cherab/phix/machine/geometry/data/vessel_wall_half_finite.rsm
output/
/cherab/phix/machine/geometry/data/symmetry_poligons/
/cherab/phix/machine/geometry/data/symmetry_polygons
