*.pyc
*.pyo
*~
.\#*
\#*\#
.DS_Store
*.so
*.pyc
*.pyo
*~
*.o
*.c
*.h
PKG-INFO
MANIFEST
temp/
dist/
docs/build/
build/
.idea/
.nfs*
__pycache__/
*_360.rsm
*.obj
/demos/*.txt
*gif
*.npy
sftp-config.json
.vscode
cherab_phix.egg-info/
output/
cherab/phix/observer/fast_camera/calibration_data/checkerboard10mm/