ci:
  autofix_prs: true
  autoupdate_schedule: quarterly

default_language_version:
  node: 16.15.0

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: VERSION
  - id: check-merge-conflict
    exclude: .*\.rst
  - id: check-symlinks
  - id: check-case-conflict
  - id: check-json
  - id: check-toml
  - id: check-yaml

# validate pyproject.toml
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject

# lint and format python codes by ruff
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.275
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]

# lint and format jupyter notebooks by nbqa-ruff
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.7.0
  hooks:
  - id: nbqa-ruff

# lint cython codes
- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.15.0
  hooks:
  - id: cython-lint
    args: [--max-line-length, '140']

# format yaml files
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.9.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']

# format docstrings in python codes
- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.3
  hooks:
  - id: docformatter
    additional_dependencies: [tomli]
    args: [--in-place]
