# Top-level build script
include setup.py
include dev.py
include pyproject.toml
# Top-level text files
include README.md CHANGELOG.txt LICENSE.md AUTHORS.md MANIFEST.in .pre-commit-config.yaml
include .gitignore .gitattributes
# All source files
recursive-include cherab *.py *.pyx *.pxd *.csv *.json *.npy *.rsm *.dat *.txt *.ccm *.ccc
include cherab/phix/VERSION
# All documentation
# recursive-include docs *
# recursive-include demos *
# Exclude what we don't want to include
global-exclude *.c *.pyc
prune docs/build
