include README.md CHANGELOG.md LICENSE.md AUTHORS.md MANIFEST.in setup.py setup.cfg .gitignore .gitattributes
include cherab/phix/VERSION
global-exclude *.c
recursive-include cherab *.py *.pyx *.pxd *.csv *.json *.npy *.rsm *.dat *.ccm *.ccc *.txt
recursive-include demos *.py *.pyx *.pxd *.csv *.obj *.rsm
recursive-include docs *
prune dev
prune output