include README.md CHANGELOG.txt LICENSE.txt CONTRIBUTING.txt AUTHORS.txt MANIFEST.in setup.py .gitignore
include cherab/phix/VERSION
global-exclude *.c
recursive-include cherab *.py *.pyx *.pxd *.csv *.json *.npy *.rsm
recursive-include demos *.py *.pyx *.pxd *.csv *.obj *.rsm
recursive-include docs *